body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

body {
    width: 1000px;
    margin: auto;
    font-family: 'Segoe UI';
}

header {
    height: 160px;
    background-image: url(images/aaaa.jpg);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#facebook-header {
    width: 233px;
    height: 42px;
    background-color: #39312E;
    color: white;
    float: left;
    line-height: 40px;
    font-size: 14px;
    background-image: url(../Content/Images/fb_white.png);
    background-repeat: no-repeat;
    background-position: 4% 55%;
    padding-left: 40px;
}

#cart-header-link {
    width: 143px;
    height: 42px;
    background-color: #39312E;
    color: white;
    float: right;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

    #cart-header-link > span {
        width: 42px;
        height: 42px;
        background-color: #585858;
        float: right;
        background-image: url(../Content/Images/cart_white.png);
        background-repeat: no-repeat;
        background-position: center;
    }

#main-header-logo {
    margin-top: 25px;
    margin-bottom: 500px;
    display: block;
}

#baner-main {
    vertical-align: top;
}

a {
    color: #de6581;
    text-decoration: none;
}

footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}

div.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

nav.kategorie-horizontal ul {
    overflow: hidden;
    border-left: 1px solid #666666;
    border-top: 1px solid #666666;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    nav.kategorie-horizontal ul li {
        margin: auto;
        float: left;
        width: 232px;
        height: 54px;
        text-align: left;
        border-right: 1px solid #666666;
        border-bottom: 1px solid #666666;
        line-height: 54px;
    }

        nav.kategorie-horizontal ul li a {
            width: auto;
            display: block;
            height: auto;
            padding-left: 100px;
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 50%;
        }

        nav.kategorie-horizontal ul li:hover {
            -moz-box-shadow: inset 0 0 3px #bbbbbb;
            -webkit-box-shadow: inset 0 0 3px #bbbbbb;
            box-shadow: inset 0 0 3px #bbbbbb;
        }

nav.home-list {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}

    nav.home-list ul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
    }

        nav.home-list ul li {
            display: block;
            margin: 0;
            #padding: 15px 15px 19px 15px;
            margin-left: 100px;
            width: 90px;
            float: left;
        }

            nav.home-list ul li a {
                color: #ffffff;
            }

                nav.home-list ul li a:hover, nav.home-list ul li a.current {
                    color: #000000;
                }

ul.large-cover-list li {
    width: 300px;
    height: 300px;
}

    ul.large-cover-list li a h1 {
        top: 45%;
    }

    ul.large-cover-list li a:hover h1 {
        top: 46%;
    }

ul.ThreeColumnsCoversList {
    overflow: hidden;
    list-style-type: none;
    font-size: 18;
}

    ul.ThreeColumnsCoversList li {
        float: left;
        position: relative;
    }

        ul.ThreeColumnsCoversList li article {
            height: 100%;
        }

        ul.ThreeColumnsCoversList li a.addtocartlink {
            position: absolute;
            right: 0;
            bottom: 0;
        }

            ul.ThreeColumnsCoversList li a.addtocartlink img {
                z-index: 2;
                position: relative;
                vertical-align top;
            }

        ul.ThreeColumnsCoversList li a.productdetailslink {
            display: block;
            height: 100%;
        }

        ul.ThreeColumnsCoversList li a img.album-cover {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.1;
            -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
        }

        ul.ThreeColumnsCoversList li a:hover img.album-cover {
            opacity: 0.8;
            -webkit-transition: opacity 1s ease;
            -o-transition: opacity 1s ease;
            -moz-transition: opacity 1s ease;
            transition: opacity 1s ease;
        }

div.newFlag {
    background-image: url(/Content/Images/new.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    position: relative;
    vertical-align top;
}

div.bestsellerFlag {
    background-image: url(/Content/Images/bestseller.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
}

.content-section {
    width: 948px;
    float: left;
    margin-top: 30px;
    padding-left: 20px;
}

footer {
    width: 100%;
    height: 42px;
    background-color: #585858;
    margin-top: 75px;
    /*overflow: hidden;*/
}

    footer nav {
        display: table;
        overflow: hidden;
        height: 100%;
        float: left;
    }

        footer nav ul {
            display: table-cell;
            vertical-align: middle;
        }

            footer nav ul li {
                font-size: 14px;
                color: white;
                float: left;
                margin-left: 55px;
            }

                footer nav ul li a, footer nav ul li a:hover, footer nav ul li a:visited, footer nav ul li a:active, footer nav ul li a:link {
                    color: white;
                }

                    footer nav ul li a:hover {
                        text-decoration: underline;
                        color: white;
                    }

                    footer nav ul li a:visited {
                        color: white;
                    }
