
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding: 50px 50px 50px 50px">Kontakt</h2>
<div style="margin-right: 50px; margin-left: 50px; text-align: justify; line-height: 22px">
    Twoja Manufaktura Sp. Z o.o.<br>
    ul. Przytulna<br>
    80-176, Gdańsk<br>
    <a href="mailto:pmigdalski@sigma.ug.edu.pl" style="color:blue;">pmigdalski@sigma.ug.edu.pl</a>
</div>

